* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    font-family: "Poppins",sans-serif;
    background: #ffe4f2;
    color: #4a004e;
}

.navbar {
    width: 100%;
    background: #ffb3d1;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 173, 204, 0.4);
    position: sticky;
    top: 0;
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #a8005c;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #a8005c;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}
.header {
max-width: 1000px;
margin: 80px auto;
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 60px;
padding: 0 20px;
}
.header h1 {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2;
    color: #7a7a7a;
    margin: 0;
    

}
.header p {
    max-width: 420px;
    font-size: 14px;
    line-height: 1.8;
    color: #7a7a7a;
}
.products {
  padding: 70px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  background: #fff7f9;
}

.products-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.products-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.products-card h3 {
  margin: 15px 0 5px;
  font-size: 1.05rem;
}

.price {
  display: block;
  margin-bottom: 15px;
  color: #e67aa4;
  font-weight: 500;
}

/* CUSTOM CAKES */
.custom-cakes {
  padding: 90px 60px;
  text-align: center;
  background: linear-gradient(135deg, #fff, #fff0f5);
}

.custom-cakes h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.custom-subtitle {
  color: #777;
  margin-bottom: 50px;
}

/* CUSTOM GRID */
.custom-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.custom-card {
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(0,0,0,0.12);
}

.custom-card.featured {
  border: 2px solid #e67aa4;
}

.custom-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.custom-info {
  padding: 25px;
}

.custom-info h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.custom-info p {
  color: #666;
  margin-bottom: 15px;
}

.custom-price {
  color: #e67aa4;
  font-size: 1.1rem;
  font-weight: 600;
}