* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins",sans-serif;
    background: #ffe4f2;
    color: #4a004e;
}

.navbar {
    width: 100%;
    background: #ffb3d1;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 173, 204, 0.4);
    position: sticky;
    top: 0;
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #a8005c;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #a8005c;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}
body {
    background: #ffd6e8;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    padding: 40px 0;
    background: #ffb3d9;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

header h1 {
    font-size: 40px;
    color: #4a004e;
}

header p {
    color: #4a004e;
    font-size: 18px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15),;

}

.product img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}
.price{
    font-weight: bold;
    color: #ff008c;
}

button{
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: #ff3399;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #cc0077;
}