* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {

  body {
    margin: 0;
  }

  .container,
  .content,
  .custom-grid,
  .cards,
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}