* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff7fb;
}

.navbar {
    width: 100%;
    background: #ffb3d1;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 173, 204, 0.4);
    position: sticky;
    top: 0;
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #a8005c;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #a8005c;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;

}
.hero-text h1 {
    font-family: 'Playfair Display' serif;
    font-size: 60px;
    color: #b03060;
    margin-bottom: 10px;

}

.hero-text p {
    color: #9b4a6f;
    font-size: 20px;

}
.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 14px 24px;
    border-radius: 12px;
    background: #f8b3c7;
    color: #b03060;
    text-decoration: none;
    font-weight: 600;

}

.hero-img.img{
    width: 340px;
    border-radius: 20px;

}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 60px;

}
 .card {
    background: white;
    width: 280px;
    border-radius: 18px;
    padding: 18px;
    text-align: center;

 }
 .card img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 12px;
 }

 .card h2 {
    font-family: 'Playfair Display' serif;
    color: #b03060;

 }
 .card p {
   font-size: 14px;
   color: #7d5a6f;
 }

 