* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins",sans-serif;
    background: #ffe4f2;
    color: #4a004e;
}

.navbar {
    width: 100%;
    background: #ffb3d1;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 173, 204, 0.4);
    position: sticky;
    top: 0;
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #a8005c;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #a8005c;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}

    
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(120deg, #fff0f6, #ffd6e8);
    color: #4a004e;
}

.auth-wrapper {
    width: 100%;
    min-height: calc(100vh - 70px); 
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
    z-index: 1;
}
.auth-card {
      width: 380px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 25px 60px rgba(214, 51, 132, 0.25);
    background: url('candy-background.jpg') no-repeat center center;
    background-size: cover; 
    position: relative;
    color: #4a004e; /

}
.brand {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: #d63384;
    margin-bottom: 10px;
}
.subtitle {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;

}
form label{
    font-size: 13px;
    font-weight: 600;
    color: #444;
}
form input{
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border-radius: 12px;
    border: 1px solid #f3b5d1;
    outline: none;
    font-size: 14px;
}
form button {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(135deg, #ff5fa2, #d63384);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

}
.switch  {
    margin-top: 15px;
    font-size: 14px;
}
.switch a{
    color: #d63384;
    text-decoration: none;
    font-weight: 600;
}

   .auth-img {
   width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
   }
   body::before, body::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 95, 162, 0.15);
    z-index: 0; 
}


body::before {
    width: 250px;
    height: 250px;
    top: -80px;
    left: -80px;
}


body::after {
    width: 300px;
    height: 300px;
    bottom: -100px;
    right: -100px;
}



  